Repository rindula-de/hirsch, pull requests merged in 2022-02, with the labels that each got.

#604 Update release-drafter.yml
  .github/release-drafter.yml
Labels: workflow-config

#489 E-Mail versandt
  .env
  composer.lock
  config/packages/messenger.yaml
  makefile
  src/Controller/OrderController.php
  src/Controller/PwaController.php
  src/Message/SendOrderOverview.php
  src/MessageHandler/SendOrderOverviewHandler.php
  src/Repository/PayhistoryRepository.php
Labels: enhancement, minor, chore, symfony

#611 Change Issue Branch Token
  .github/workflows/issue-branch.yml
Labels: github_actions

#618 Labler use GitHub Bot
  .github/workflows/label.yml
Labels: github_actions

#619 Update labeler config
  .github/labeler.yml
Labels: workflow-config

#620 Add "make tests"
  .github/workflows/php.yaml
  makefile
Labels: github_actions, chore

#623 Remove debug statement
  makefile
  src/Controller/OrderController.php
Labels: chore, symfony

#627 Fix Deployment unittest
  .github/workflows/ci.yml
Labels: bug, github_actions

#628 Add missing test data
  .github/workflows/ci.yml
Labels: bug, github_actions

#629 Reload page after redirect
  templates/order/paynow.html.twig
Labels: enhancement, symfony

#637 Prefetch Pages
  templates/menu/index.html.twig
  templates/order/index.html.twig
Labels: enhancement, symfony

#638 Add breaks after menu button
  assets/controllers/dailymenu_controller.js
Labels: enhancement, symfony

#616 Enhancement for phpunit/coverage/infection Testing
  .gitignore
  bin/coverage
  bin/coverage-checker
  bin/infection
  composer.json
  composer.lock
  infection.json.dist
  makefile
  phpunit.xml.dist
  symfony.lock
  tests/bootstrap.php
Labels: tests, chore, executables

#644 Fix makefile dependencies
  makefile
Labels: chore

#645 Add Makefile Comments
  makefile
Labels: chore

#649 Add missing checkout
  .github/workflows/ci.yml
Labels: github_actions

#650 Fix Workflow
  .github/workflows/ci.yml
Labels: github_actions

#651 Delete Version20220204132751.php
  migrations/Version20220204132751.php
Labels: database

#652 Add unauthenticated by IP
  .github/workflows/ci.yml
  .github/workflows/php.yaml
  config/packages/security.yaml
  makefile
  tests/OrderTest.php
Labels: github_actions, tests, chore, symfony

#654 Update makefile
  .github/workflows/ci.yml
  makefile
Labels: github_actions, chore

#659 Update makefile
  makefile
Labels: bug, chore

#660 Add name to jobs
  .github/workflows/ci.yml
Labels: github_actions

#609 [Bug]: Bestellungen nach ablaufzeit
  .env.test
  assets/styles/_main.scss
  bin/phpunit
  composer.json
  composer.lock
  makefile
  src/Controller/OrderController.php
  symfony.lock
  templates/base.html.twig
  tests/OrderTest.php
  tests/bootstrap.php
Labels: bug, help wanted, tests, chore, symfony, executables

#662 Fix preloading flash
  src/Controller/OrderController.php
  templates/menu/index.html.twig
Labels: symfony

#664 Route Annotation to Attribute
  composer.json
  composer.lock
  src/Controller/HolidayController.php
  src/Controller/MenuController.php
  src/Controller/ModalController.php
  src/Controller/OrderController.php
  src/Controller/PwaController.php
Labels: symfony

#663 Update makefile
  .gitignore
  makefile
Labels: chore

#666 Apply fixes from StyleCI
  build/phpstan/console-loader.php
  build/phpstan/doctrine-orm-bootstrap.php
  config/bundles.php
  config/preload.php
  index.php
  migrations/Version20211104135414.php
  migrations/Version20211201093203.php
  migrations/Version20211220165038.php
  migrations/Version20220131203542.php
  migrations/Version20220131212500.php
  public/index.php
  src/Controller/HolidayController.php
  src/Controller/MenuController.php
  src/Controller/ModalController.php
  src/Controller/OrderController.php
  src/Controller/PaypalMesController.php
  src/Controller/PwaController.php
  src/DataFixtures/AppFixtures.php
  src/DataFixtures/HTGFixture.php
  src/DataFixtures/UserFixture.php
  src/Entity/DailyFood.php
  src/Entity/Hirsch.php
  src/Entity/Holidays.php
  src/Entity/MsUser.php
  src/Entity/Orders.php
  src/Entity/Payhistory.php
  src/Entity/Paypalmes.php
  src/Entity/User.php
  src/Form/HolidayType.php
  src/Form/OrderType.php
  src/Form/PaypalmesType.php
  src/Kernel.php
  src/Message/FetchMsUsers.php
  src/Message/SendOrderOverview.php
  src/MessageHandler/FetchMsUsersHandler.php
  src/MessageHandler/SendOrderOverviewHandler.php
  src/Repository/DailyFoodRepository.php
  src/Repository/HirschRepository.php
  src/Repository/HolidaysRepository.php
  src/Repository/MsUserRepository.php
  src/Repository/OrdersRepository.php
  src/Repository/PayhistoryRepository.php
  src/Repository/PaypalmesRepository.php
  src/Repository/UserRepository.php
  src/Service/UtilityService.php
  tests/OrderTest.php
  tests/bootstrap.php
Labels: tests, symfony, database

#671 Fix time parsing
  src/Controller/OrderController.php
  tests/OrderTest.php
Labels: bug, tests, symfony

#679 Allow Unathenticated to manifest
  config/packages/security.yaml
Labels: symfony

#682 Set Modal Cookie expiration time
  src/Controller/ModalController.php
Labels: bug, symfony

#685 Fix deployment cache clear
  .github/workflows/ci.yml
Labels: bug, github_actions

#690 Test für das Changelog Modal
  .gitattributes
  config/packages/test/services.yaml
  src/Controller/ModalController.php
  tests/Controller/ModalControllerTest.php
  tests/TestHelper/TestCurlHttpClient.php
  tests/TestHelper/TestMockResponse.php
  tests/mockedApiRequestResponse/releases.page=0
Labels: tests, symfony

#691 Use "failed" transport queue
  .github/workflows/ci.yml
  .github/workflows/php.yaml
  config/packages/messenger.yaml
Labels: github_actions, symfony

#692 PHP Version Update 8.0 -> 8.1
  .ddev/config.yaml
  .github/workflows/ci.yml
  .github/workflows/php.yaml
  makefile
Labels: enhancement, github_actions, chore

#696 Add missing token
  .github/workflows/ci.yml
Labels: bug, github_actions

#695 Fix missing db service for tests
  .github/workflows/php.yaml
Labels: bug, github_actions

#697 Add Missing step in coveragecheck
  .github/workflows/php.yaml
Labels: bug, github_actions

#701 Fix Makefile for devsystems
  makefile
Labels: bug, chore

#700 Translations & Reformating Code
  config/packages/translation.yaml
  src/Controller/HolidayController.php
  src/Controller/MenuController.php
  src/Controller/ModalController.php
  src/Controller/OrderController.php
  src/Controller/PaypalMesController.php
  src/Form/HolidayType.php
  templates/base.html.twig
  templates/holiday/add.html.twig
  templates/holiday/edit.html.twig
  templates/holiday/index.html.twig
  templates/menu/index.html.twig
  templates/navigation.html.twig
  templates/order/index.html.twig
  templates/order/orders.html.twig
  templates/order/paynow.html.twig
  templates/paypal_mes/add.html.twig
  translations/messages.de.yaml
Labels: symfony

#702 Add Labeling for translations
  .github/labeler.yml
  .github/release-drafter.yml
Labels: workflow-config

#706 Holiday, CacheClearController Tests
  composer.json
  composer.lock
  phpunit.xml.dist
  src/Controller/HolidayController.php
  src/Form/HolidayType.php
  tests/Command/CacheClearCommandTest.php
  tests/Controller/HolidayControllerTest.php
  tests/Form/HolidayTypeTest.php
  tests/TestHelper/TestCurlHttpClient.php
  translations/messages.de.yaml
Labels: tests, symfony, translations

#707 Change Releasedrafter Token Permission
  .github/workflows/release.yml
Labels: bug, github_actions

#708 Fix Mailer DSN
  makefile
Labels: bug, chore

#709 Add release Category for tests
  .github/release-drafter.yml
Labels: workflow-config

#720 Add exclusion files from upload
  .github/workflows/ci.yml
Labels: github_actions
