Repository rindula-de/hirsch, pull requests merged in 2022-03, with the labels that each got.

#738 Fix loading bug
  templates/base.html.twig
Labels: bug, symfony

#740 Hirschseite wieder als App installierbar
  templates/serviceworker.js
Labels: enhancement, symfony

#739 Improve preloading
  config/packages/webpack_encore.yaml
Labels: symfony

#741 Fix Active Payer get Mail
  src/MessageHandler/SendOrderOverviewHandler.php
Labels: symfony

#746 Remove instant reload on serviceworker update
  assets/js/scripts.js
Labels: symfony

#749 Update makefile for CI detection
  makefile
Labels: chore

#767 Cleanup leftover files
  .htaccess
  phpcs.xml
Labels: chore

#768 Fix wrong action secret
  .github/workflows/php.yaml
Labels: github_actions

#775 Cache Vendor
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: github_actions

#776 Add `SUPER-LINTER`
  .github/workflows/super-linter.yml
Labels: github_actions

#787 Update CODEOWNERS
  CODEOWNERS
Labels: chore

#779 add test for paypalmestype
  .editorconfig
  src/Controller/PaypalMesController.php
  src/Entity/Paypalmes.php
  tests/Form/PaypalmesTypeTest.php
  tests/Traits/FormValidationTrait.php
  translations/validators.de.yaml
Labels: tests, symfony, translations

#788 Erweiterung der Sonderzeichen beim parsen
  src/Controller/MenuController.php
Labels: symfony

#800 Paypalmes fix
  src/Entity/Paypalmes.php
  templates/order/paynow.html.twig
Labels: symfony
